/* Animation du header */

.animation div{
    animation: anim-entete 1s both cubic-bezier(0,.96,1,.14);
}

@keyframes anim-entete {
    0% {
        transform: translateX(50vw);
    }

    100% {
        transform: translateX(0);
    }
}

$columns: 4;

@for $i from 1 through $columns {
    .animation div:nth-of-type(#{$i}) {
        animation-delay: $i#{s};
    }
}

/* Animations de la section principale */

$titres: 4;

@for $i from 1 through $titres {
    .principal div h3:nth-of-type(#{$i}) {
        animation: anim-#{$i} .5s .5*$i#{s} both;
    }
}

$tabTranslate: (
    1: translateX(-1500px) rotate(-90deg),
    2: translateX(1500px) rotate(90deg),
    3: translateY(-1500px) rotate(-90deg),
    4: translateY(-1500px) rotate(90deg),
);

@each $i, $elem in $tabTranslate {
    @keyframes anim-#{$i}{
        0% {
            transform: $elem scale(3);
            opacity: -3;
        }

        100% {
            transform: translate(0) scale(1) rotate(0deg);
            opacity: 1;
        }
    }
}