/* --------------------------------------------------------
Feuille de style pour l'exercice 1

auteur: Tristan Lapointe
version: 1.0
modification récente : 11 février 2021
email: tristan.lapointe02@gmail.com
----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Conteur body de la page & clip-path */
body {
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: #6C019B;
    overflow-x: hidden;
    color: couleur(fond_pale);
}

body::after {
    content: "";
    clip-path: polygon(0 0, 90% 0, 0% 100%, 0% 100%);
    background-color: rgb(62, 62, 194);
    background-color: couleur(primaire);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/* Définition des tailles de caractères */
h1{font-size: 4rem;}
h2{font-size: 3rem;}
h3{font-size: 2rem;}
h4{font-size: 1rem;}
h5{font-size: .8rem;}
h6{font-size: .7rem;}
p{font-size: .6rem;}

/* Propriété de tous les blocs */
.bloc {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bloc img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 15px;
}

/* Grille globale de la page, adaptative */
.grille {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-gap: 1.5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "entete entete entete"
    "menu menu menu"
    "annonce1 annonce1 annonce1"
    "principal principal principal"
    "pied-page pied-page pied-page";

    @include desktop {
        grid-template-areas: 
        "entete entete entete"
        "menu menu menu"
        "principal annonce1 annonce1"
        "pied-page pied-page pied-page";
    }
}

/* Assosiation des grid-area */

.entete {
    grid-area: entete;
}

.menu {
    grid-area: menu;
}

.annonce1 {
    grid-area: annonce1;
}

.principal {
    grid-area: principal;
}

.pied-page {
    grid-area: pied-page;
}

/* Entête */

.entete {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25vh;

    section, h1 {
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12vw;
            height: 50px;
            border-radius: 50px;
            background-color: couleur(secondaire);
            box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
            -webkit-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
            margin-left: 3vw;
        }
    }
}

/* Annonce */

.annonce1 {
    background-color: couleur(fond_pale);
    color: couleur(primaire);
    border-radius: 10px;
    box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
    padding: 42px;
    margin: 20px;
    div {
        font-size: 1em;
        display: flex;
        align-items: center;
    }
}

/* Message principal animé */

.principal {
    justify-content: center;
}

.principal div {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.principal div h3{
    background-color: couleur(secondaire);
    border-radius: 10px;
    box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 20px 3px rgba(0,0,0,0.75);
    text-align: center;
}

/* Pied de page */

.pied-page {
    flex-direction: row;
    justify-content: space-between;
    color: couleur(primaire);
    border-radius: 50px;
    padding: 1.5vw;
    margin: 2vh 0;
    background-color: couleur(fond_pale);
}

