/* Différentes manières d'utiliser les variables avec les couleurs */
$couleur_desktop: #00311d;
$couleurs : (
    primaire: $couleur_desktop,
    fond_pale: #fff6bb,
    secondaire: rgb(67, 67, 201),
    primaire_pale : lighten($couleur_desktop, 40%)
);

@function couleur($propriete){
    @return map-get($couleurs, $propriete)
}
